body {
    font-family: 'Fauna One', serif;
    margin: 0;
}

/*HEADER*/

header {
    background-color: black;
    padding: 10px 0;
}

header h1 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px white;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    font-size: 4em;
}

/*NAVBAR*/

nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 15px 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
}

li:hover {
    color: red;
    cursor: pointer;
    border-color: red;
}

li a {
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
}